project-item {
	overflow: hidden;
	.pull-right {
		color: #999;
		font-size: 16px;
		& > div {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.project	{
		&-rate_format,
		&-total-cost_currency {
			font-size: 13px;
		}
		&-total-cost_value {	
			color: #000;	
		}
		&-total-cost_currency {
			color: #333;
		}
	}
}